* {
	margin: 0;
}
#screen {
	height: 400px;
	outline: 1px dotted black;
	position: relative;
	overflow: hidden;
}
#bg {
	height: 400px;
	outline: 1px dotted black;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(images/bg.png);
	background-repeat: repeat-x;
}
#hero {
    position: absolute;
	outline: 1px dotted black;
    top: 125px;
    left: 50px;
    height: 150px;
}