* {
	margin: 0;
}
#screen {
	height: 400px;
	outline: 1px dotted black;
	position: relative;
	overflow: hidden;
}
#bg {
	height: 400px;
	outline: 1px dotted black;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(images/bg.png);
	background-repeat: repeat-x;
}
#hero {
    position: absolute;
	outline: 1px dotted black;
    top: 125px;
    left: 50px;
    height: 150px;
	background-color: green;
}
.monster {
	width: 100px;
	height: 150px;
	outline: 1px dotted black;
	position: absolute;
	top: 125px;
}
#health {
	position: absolute;
	z-index: 1;
	width: 200px;
	height: 10px;
	outline: 1px solid black;
	top: 20px;
	left: 20px;
	background-color: green;
}
.arrow {
    position: absolute;
    width: 100px;
    height: 5px;
    outline: 1px solid black;
    top: 50px;
}